@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Akropolis implementation : © Timothée Pecatte <tim.pecatte@gmail.com>, Guy Baudin <guy.thoun@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * akropolis.css
 *
 * Akropolis stylesheet
 *
 */
/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (akropolis_akropolis.tpl), and to HTML elements you create dynamically
    (in akropolis.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/
/* Note: you must not use any @import directive */
/********* You can start writing your CSS below this line: **********/
.tile {
  position: absolute;
  width: 194px;
  height: 194px;
}
.tile.preview .face, .tile.preview .side {
  animation: preview-tile-animation 1s alternate infinite ease-in-out;
}

@keyframes preview-tile-animation {
  100% {
    opacity: 0.7;
  }
}
.hex {
  position: absolute;
  width: 97px;
  height: 84px;
  transform: translateZ(calc(16px * var(--z)));
}
.hex .face {
  width: 100%;
  height: 100%;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  font-weight: bold;
  text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white, 0 0 6px white;
  text-align: center;
  line-height: 30px;
}
.hex .face.possible {
  background-image: url("img/hex-possible.png");
  background-size: auto 100%;
  transform: translateZ(1px) scale(0.8);
  cursor: pointer;
  line-height: 88px;
}
.hex .face[data-type] {
  background-image: url("img/sprite.png");
  background-size: auto 350%;
  transform: translateZ(calc(16px * (var(--z) + 1)));
}
.hex .face[data-type=quarry] {
  background-position: 66% 80%;
}
.hex .face[data-type=house] {
  background-position: 66% 0%;
}
.hex .face[data-type=house][data-plaza=true] {
  background-position: 100% 20%;
}
.hex .face[data-type=market] {
  background-position: 66% 40%;
}
.hex .face[data-type=market][data-plaza=true] {
  background-position: 100% 60%;
}
.hex .face[data-type=barrack] {
  background-position: 33% 20%;
}
.hex .face[data-type=barrack][data-plaza=true] {
  background-position: 0% 0%;
}
.hex .face[data-type=temple] {
  background-position: 0% 80%;
}
.hex .face[data-type=temple][data-plaza=true] {
  background-position: 33% 100%;
}
.hex .face[data-type=garden] {
  background-position: 0% 40%;
}
.hex .face[data-type=garden][data-plaza=true] {
  background-position: 33% 60%;
}
.hex.selected .face {
  cursor: pointer;
}
.hex.selected .face::after {
  content: "↻";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("img/hex-possible.png");
  background-size: auto 100%;
  text-align: center;
  line-height: 84px;
  font-size: 80px;
  font-weight: bold;
  color: #fff;
  user-select: none;
  text-shadow: 1px 1px 5px #000;
}
.hex .side {
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -24.25px;
  margin-top: -8px;
  width: 48.5px;
  height: 16px;
  background: url("img/texture-side.jpg");
  transform: translateZ(8px) rotateX(90deg) rotateY(calc(60deg * var(--side))) translateZ(41.9px);
  z-index: -100;
}

#market {
  position: relative;
  height: 220px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white, 0 0 6px white;
  text-align: center;
}
#market #remaining-stacks {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  order: 999;
}
#market #remaining-stacks #remaining-stacks-counter {
  font-weight: bold;
}
#market .tile-with-cost {
  font-weight: bold;
  width: 194px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
#market .tile-with-cost.disabled {
  cursor: not-allowed;
  background: rgba(255, 128, 128, 0.4);
}
#market .tile-with-cost.disabled .tile {
  opacity: 0.8;
  pointer-events: none;
}
#market .tile-with-cost.disabled .cost {
  color: red;
}
#market .tile-with-cost.selected {
  box-shadow: 0 0 10px 8px #01C0FF;
}
#market .tile-with-cost .tile {
  position: relative;
  transform: rotate(calc(60deg * var(--r)));
}
#market .tile-with-cost .cost {
  display: flex;
  align-items: center;
  gap: 5px;
}
#market .tile-with-cost .cost .score-icon {
  width: 24px;
  height: 24px;
}
#market.selectable .tile-with-cost:not(.disabled) .tile .hex {
  cursor: pointer;
}
#market .hex {
  position: absolute;
  left: calc(48.5px * (0.5 + var(--x) * 1.5));
  top: calc(84px * var(--y) / 2);
}

.player-board .counters {
  --border-color: transparent;
  display: flex;
  align-items: center;
  margin: 5px 0;
  border-left: 5px solid var(--border-color);
  padding-left: 5px;
}
.player-board .counters .icon {
  margin-right: 5px;
}
.player-board .counters > div {
  flex: 1;
}
.player-board .score-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.player-board .score-icon[data-type="1"] {
  background-position: 0% 20%;
}
.player-board .score-icon[data-type="1"].star {
  background-position-x: 100%;
}
.player-board .score-icon[data-type="2"] {
  background-position: 0% 40%;
}
.player-board .score-icon[data-type="2"].star {
  background-position-x: 100%;
}
.player-board .score-icon[data-type="3"] {
  background-position: 0% 60%;
}
.player-board .score-icon[data-type="3"].star {
  background-position-x: 100%;
}
.player-board .score-icon[data-type="4"] {
  background-position: 0% 80%;
}
.player-board .score-icon[data-type="4"].star {
  background-position-x: 100%;
}
.player-board .score-icon[data-type="5"] {
  background-position: 0% 100%;
}
.player-board .score-icon[data-type="5"].star {
  background-position-x: 100%;
}
.player-board .first-player-token-wrapper {
  position: relative;
}
.player-board .first-player-token {
  background-image: url("img/architect-token.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 50px;
}

/*.flag {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateX(90deg) translateY(30px);
    width: 5px;
    height: 100px;
    background: var(--flag-color);
}*/
.frame {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.city {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-origin: 50% 50%;
  position: relative;
  width: 100%;
  height: 100%;
}
.city .grid {
  --x-shift: 0;
  --y-shift: 0;
  position: absolute;
  left: calc(50% - 48.5px * var(--x-shift) * 1.5);
  top: calc(50% - 84px * var(--y-shift) / 2);
  transition: top 1s, left 1s;
}
.city .hex {
  left: calc(-48.5px + 48.5px * var(--x) * 1.5);
  top: calc(84px * var(--y) / 2);
}
.city .tile {
  left: calc(-72.75px + 48.5px * var(--x) * 1.5);
  top: calc(84px * var(--y) / 2);
  transform: translateZ(calc(16px * var(--z))) rotate(calc(60deg * var(--r)));
  transform-origin: 72.75px 42px;
}
.city .tile[data-selected-hex-index="1"] {
  transform-origin: 145.5px 84px;
}
.city .tile[data-selected-hex-index="2"] {
  transform-origin: 72.75px 126px;
}
.city .tile::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("img/tile-mask.png");
  background-size: 86% 86%;
  background-position: 93% 0%;
  background-repeat: no-repeat;
  pointer-events: none;
  transform: translateZ(16px);
}
.city .tile .hex {
  --z: 0;
  left: calc(48.5px * (0.5 + var(--x) * 1.5));
  top: calc(84px * var(--y) / 2);
}

.reset-view-button {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: auto;
}

.view-changed .reset-view-button {
  display: unset;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
.score-icon {
  background: url("img/score-icons.png");
  background-size: 200% auto;
  vertical-align: middle;
  background-repeat: no-repeat;
}
.score-icon.stone {
  background-position: 0% 0%;
}

#full-table {
  width: 100%;
  pointer-events: visible;
}

#tooltip3d {
  display: none;
}

#controls-reminder {
  position: relative;
  color: white;
  font-size: 12px;
  padding-left: 30px;
  padding-bottom: 8px;
}

#controls-reminder img {
  position: absolute;
  top: 0;
  left: 2px;
  width: 22px;
  height: 30px;
}

html, .mode_3d {
  background: url("img/background.jpg");
  background-size: 100% auto;
  background-repeat: repeat;
}

#game_play_area {
  will-change: transform;
}

.mode_3d #game_play_area_background {
  display: none;
}
