#quantities-help-button {
    position: fixed;
    bottom: 12px;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 3px 5px 5px 0px rgb(0 0 0);
    cursor: pointer;
    z-index: 949;
    overflow: hidden;
    background-size: contain;
    transition: width 0.5s, height 0.5s, border-radius 0.5s;
    background-image: url('img/reminder-card.jpg');
    
    color: black;

    .quantities-table {
        opacity: 0;
        position: absolute;
        width: 20px;
        top: 7px;
        bottom: 6px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        font-size: 12pt;
        font-weight: bold;

        &>div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &.plazza {
            left: 69px;
        }

        &.district {
            left: 155px;
        }
    }

    .label-table {
        opacity: 0;
        position: absolute;
        width: 120px;
        top: 7px;
        bottom: 6px;
        right: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        font-size: 8pt;

        &>div {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
    }
    
    &[data-folded="false"] {
        width: 300px;
        height: 324px;
        border-radius: 5px;
        
        .quantities-table, .label-table {
            opacity: 1;
        }
    }
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
    #seasaltpaper-help-button, #quantities-help-button {
        //display: none;
        bottom: 5px;
    }
}