$x0: 400px;
$y0: 300px;

.player-table {
    margin: 5px;

    .name-wrapper {
        background: #e17b2388;
        display: flex;
        align-items: center;
        gap: 10px;

        .name {
            font-weight: bold;
            font-size: 16pt;
            padding: 5px 0;
            font-family: 'xtraregular'; 
        }
    
        .pattern {
            background: url('img/title-pattern.svg');
            background-repeat: repeat-x;
            height: 12px;
            flex: 1;

            &.left {
                background-position: right center;
            }

            &.right {
                background-position: left center;
            }
        }
    }

    .solo-text {
        background: #FFFFFF88;
    }

    .frame {
        margin-top: 5px;
        position: relative;
        height: #{$y0 * 2};
        overflow: hidden;
    }

    .city {
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transform-origin: 50% 50%;
        position: relative;

        .grid {
            --x-shift: 0;
            --y-shift: 0;

            position: absolute;
            left: calc(50% - ($hexSide * var(--x-shift) * 1.5));
            top: calc(50% - ($hexHeight * var(--y-shift) / 2));
            transition: top 1s, left 1s;
        }

        width: 100%;
        height: 100%;
        //width: #{$x0 * 2};
        //height: #{$y0 * 2};
        // border: 1px solid gray;

        .hex {
            left: calc($hexSide * -1 + ($hexSide * var(--x) * 1.5));
            top: calc(($hexHeight * var(--y) / 2));
        }

        .tile {
            left: calc($hexSide * -1.5 + ($hexSide * var(--x) * 1.5));
            top: calc(($hexHeight * var(--y) / 2));
            transform: translateZ(calc($hexThickness * var(--z))) rotate(calc(60deg * var(--r)));
            transform-origin: #{$hexSide * 1.5} #{$hexHeight * 0.5};
            pointer-events: none;
            
            &[data-selected-hex-index="1"] {
                transform-origin: #{$hexSide * 3} #{$hexHeight};
            }
            &[data-selected-hex-index="2"] {
                transform-origin: #{$hexSide * 1.5} #{$hexHeight * 1.5};
            }

            .hex {
                --z: 0;
                left: calc($hexSide * (0.5 + var(--x) * 1.5));
                top: calc($hexHeight * var(--y) / 2);
            }

            &.last-move::after {
                background-image: url("img/tile-mask-last.png") !important;
            }
        }
    }
}

.tile-level-colors {
    .player-table {
        .city {
            .tile {
                @for $i from 0 through 2 {
                    &[data-z="#{$i}"]::after {
                        background-image: url("img/tile-mask#{$i}.png");
                    }
                }
            }
        }
    }
}

.reset-view-button {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: auto;
}

.view-changed .reset-view-button {
    display: unset;
}

.tile.preview {
    .face, .side {      
        opacity: 0.75;
    }
}


.animated-opacity {
    .tile.preview {
        .face, .side {
            opacity: unset;      
            will-change: opacity;
            animation: preview-tile-animation 1.5s alternate infinite ease-in-out;
        }
    }
}

@keyframes preview-tile-animation {
  0% { 
    opacity: 0.85;
  }
  100% { 
    opacity: 0.35;
  }
}