

.player-board {
  .counters {
    display: flex;
    align-items: center;
    margin: 5px 0;
  
    .icon {
      margin-right: 5px;
    }
  }

  .score-icon {
    display: inline-block;    
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;

    &.stone {
      background-position: 0% 0%;
    }

    
    @for $i from 1 through 5 {
      &[data-type="#{$i}"] {
        background-position: 0% #{$i * 20%};

        &.star {
          background-position-x: 100%;
        }
      }
    }
  }
}