#market { 
    position: relative; // temp
    height: 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white, 0 0 6px white;
    text-align: center;

    #remaining-stacks {
        background: #FFFFFF66;
        border-radius: 20px;

        #remaining-stacks-counter {
            font-weight: bold;
        }
    }

    // temp
    #r {
        position: absolute;
        top: 0;
        right: 0;
    }

    .tile-with-cost {
        font-weight: bold;
        width: calc($hexSide * 4);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;

        &.disabled {
            cursor: not-allowed;
            background: #88888866;

            .tile {
                opacity: 0.8;
                pointer-events: none;
            }

            .cost {
                color: red;
            }
        }

        &:not(.disabled) {
            .tile {
                .hex {
                    cursor: pointer;
                }
            }
        }

        &.selected {
            box-shadow: 0 0 10px 8px $selectionColor;
        }

        .tile {
            position: relative;
            transform: rotate(calc(60deg * var(--r)));
        }

        .cost {
            display: flex;
            align-items: center;
            gap: 5px;

            .score-icon {
                width: 24px;
                height: 24px;
            }
        }
    }


    .hex {
        position: absolute;
        left: calc($hexSide * (0.5 + var(--x) * 1.5));
        top: calc($hexHeight * var(--y) / 2);
    }
}