#market {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    margin: 15px;
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white, 0 0 6px white;
    text-align: center;

    &.left-to-right {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #remaining-stacks {
        background: #FFFFFF66;
        border-radius: 20px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        order: 999;

        #remaining-stacks-counter {
            font-weight: bold;
        }
    }

    .tile-with-cost {
        font-weight: bold;
        width: #{$hexSide * 4};
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;

        &.disabled {
            cursor: not-allowed;
            background: rgba(255, 128, 128, 0.4);

            .tile {
                opacity: 0.8;
                pointer-events: none;
            }

            .cost {
                color: red;
            }
        }

        &.selected {
            box-shadow: 0 0 10px 8px $selectionColor;
        }

        .tile {
            --shift-left: 0px;
            --shift-top: 0px;
            position: relative;
            transform: translate(var(--shift-left), var(--shift-top)) rotate(calc(60deg * var(--r)));
            // transition: transform 0.5s; // change from 5 to 0 is weird

            &::after {
                top: 16px;
                bottom: -16px;
                left: -12px;
                right: 12px;
            }
        }

        .cost {
            display: flex;
            align-items: center;
            gap: 5px;

            .score-icon {
                width: 24px;
                height: 24px;
            }
        }
    }

    &.selectable {
        .tile-with-cost:not(.disabled) {
            .tile {
                .hex {
                    cursor: pointer;
                }
            }
        }

    }


    .hex {
        position: absolute;
        left: calc($hexSide * (0.5 + var(--x) * 1.5) - 12px);
        top: calc(($hexHeight * var(--y) / 2) + 16px);
    }
}

#athena-contruction-space {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;

    .construction-card {
        width: 120px;
        height: 182px;
        border-radius: 8px;
        box-shadow: 1px 1px 2px 2px #888888;
    }

    .athena-tiles-space {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .single-tile {
        position: relative !important;
    }
}