.tile {
  position: absolute;
  width: #{$hexSide * 4};
  height: #{$hexSide * 4};

  &.temp {
    animation: temp-tile-animation 1.5s alternate infinite ease-in-out;
  }
}

@keyframes temp-tile-animation {
  100% { 
    opacity: 0.75;
  }
}

.hex {
  position: absolute;
  width: #{$hexSide * 2};
  height: $hexHeight;
  transform: translateZ(calc($hexHeight * (var(--z) + 1)));

  .face {
    width: 100%;
    height: 100%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    
    // temp
    font-weight: bold;
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white, 0 0 6px white;
    text-align: center;
    line-height: 30px;

    &.possible {
      background-image: url("img/hex-possible.png");
      background-size: auto 100%;

      // temp
      line-height: 88px;
    }

    &[data-type] {
      background-image: url("img/sprite.png");
      background-size: auto 350%;
    }

    &[data-type="quarry"] {
      background-position: 66% 80%;
    }

    &[data-type="house"] {
      background-position: 66% 0%;
      &[data-plaza="true"] {
        background-position: 100% 20%;
      }
    }

    &[data-type="market"] {
      background-position: 66% 40%;
      &[data-plaza="true"] {
        background-position: 100% 60%;
      }
    }

    &[data-type="barrack"] {
      background-position: 33% 20%;
      &[data-plaza="true"] {
        background-position: 0% 0%;
      }
    }

    &[data-type="temple"] {
      background-position: 0% 80%;
      &[data-plaza="true"] {
        background-position: 33% 100%;
      }
    }

    &[data-type="garden"] {
      background-position: 0% 40%;
      &[data-plaza="true"] {
        background-position: 33% 60%;
      }
    }
  }

  &.selected {
    .face {
      cursor: pointer;
      &::after {
        content: '↻';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("img/hex-possible.png");
        background-size: auto 100%;
        text-align: center;
        line-height: 84px;
        font-size: 80px;
        font-weight: bold;
        color: #fff;
        user-select: none;
        text-shadow: 1px 1px 5px #000;
      }
    }
  }

  .side {
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -24px;
    margin-top: -8px;
    width: $hexSide;
    height: $hexThickness;
    background: white;
    transform: translateZ(#{$hexThickness * -0.5}) rotateX(90deg) rotateY(calc(60deg * var(--side))) translateZ(#{$hexHeight / 2 - 0.1px});
    z-index: -100;
  }
}
