.tile {
  position: absolute;
  width: #{$hexSide * 4};
  height: #{$hexSide * 4};

  &.single-tile {
    width: #{$hexSide * 2};
    height: #{$hexSide * 2};

  }

  &:not(.single-tile)::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("img/tile-mask0.png");
      background-size: 88% 87%;
      background-position: 99% 0%;
      background-repeat: no-repeat;
      pointer-events: none;
      transform: translateZ($hexThickness);
      backface-visibility: hidden;
  }

  &.invisible {
    visibility: hidden;
  }
}

.hex {
  position: absolute;
  width: #{$hexSide * 2};
  height: $hexHeight;
  transform: translateZ(calc($hexThickness * var(--z)));

  .face {
    width: 100%;
    height: 100%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    backface-visibility: hidden;

    &.possible {
      background-image: url("img/hex-possible.png");
      background-size: auto 100%;
      transform: translateZ(1px) scale(0.8);
      cursor: pointer;
    }

    &[data-type] {
      background-image: url("img/sprite.png");
      background-size: auto 450%;
      transform: translateZ(calc($hexThickness * (var(--z) + 1)));
    }

    &[data-type="quarry"] {
      background-position: 50% #{2 * 100% / 3.5};
    }

    &[data-type="house"] {
      background-position: 50% #{0 * 100% / 3.5};
      &[data-plaza="true"] {
        background-position: 75% #{0.5 * 100% / 3.5};
      }
    }

    &[data-type="market"] {
      background-position: 50% #{1 * 100% / 3.5};
      &[data-plaza="true"] {
        background-position: 75% #{1.5 * 100% / 3.5};
      }
    }

    &[data-type="barrack"] {
      background-position: 25% #{0.5 * 100% / 3.5};
      &[data-plaza="true"] {
        background-position: 0% 0%;
      }
    }

    &[data-type="temple"] {
      background-position: 0% #{2 * 100% / 3.5};
      &[data-plaza="true"] {
        background-position: 25% #{2.5 * 100% / 3.5};
      }
    }

    &[data-type="garden"] {
      background-position: 0% #{1 * 100% / 3.5};
      &[data-plaza="true"] {
        background-position: 25% #{1.5 * 100% / 3.5};
      }
    }

    &[data-type="barrack-garden"], &[data-type="garden-barrack"] {
        background-position: 75% #{2.5 * 100% / 3.5};
    }

    &[data-type="barrack-temple"], &[data-type="temple-barrack"] {
        background-position: 100% #{3 * 100% / 3.5};
    }

    &[data-type="house-barrack"], &[data-type="barrack-house"] {
        background-position: 100% #{2 * 100% / 3.5};
    }

    &[data-type="house-garden"], &[data-type="garden-house"] {
        background-position: 100% #{1 * 100% / 3.5};
    }

    &[data-type="house-market"], &[data-type="market-house"] {
        background-position: 100% #{0 * 100% / 3.5};
    }

    &[data-type="house-temple"], &[data-type="temple-house"] {
        background-position: 0% #{3 * 100% / 3.5};
    }

    &[data-type="market-barrack"], &[data-type="barrack-market"] {
        background-position: 25% #{3.5 * 100% / 3.5};
    }

    &[data-type="market-garden"], &[data-type="garden-market"] {
        background-position: 75% #{3.5 * 100% / 3.5};
    }

    &[data-type="market-temple"], &[data-type="temple-market"] {
        background-position: 50% #{3 * 100% / 3.5};
    }
  }

  &.selected {
    .face {
      cursor: pointer;
      pointer-events: all;

      &::after {
        content: '↻';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("img/hex-possible.png");
        background-size: auto 100%;
        text-align: center;
        line-height: 84px;
        font-size: 80px;
        font-weight: bold;
        color: #fff;
        user-select: none;
        text-shadow: 1px 1px 5px #000;
      }
    }
  }

  .side {
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: #{$hexSide * -0.5};
    margin-top: #{$hexThickness * -0.5};
    width: $hexSide;
    height: $hexThickness;
    background-image: url('img/texture-side.jpg');
    background-size: auto 100%;
    transform: translateZ(#{$hexThickness * 0.5}) rotateX(-90deg) rotateY(calc(60deg * var(--side))) translateZ(#{$hexHeight / 2 - 0.1px});
    z-index: -100;
    backface-visibility: hidden;
  }
}
