/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Akropolis implementation : © Timothée Pecatte <tim.pecatte@gmail.com>, Guy Baudin <guy.thoun@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * akropolis.css
 *
 * Akropolis stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (akropolis_akropolis.tpl), and to HTML elements you create dynamically
    (in akropolis.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/* Note: you must not use any @import directive */

/********* You can start writing your CSS below this line: **********/

$selectionColor: #01C0FF;

$hexSide: 48.5px;
$hexHeight: 84px; // sqrt(3) * size
$hexThickness: 16px;

@font-face {
  font-family: 'xtraregular'; // Dalek Pinpoint is only free for personal use, so we use a similar one
  src: url('img/xtra-webfont.woff2') format('woff2'),
       url('img/xtra-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import 'tiles';
@import 'table-center';
@import 'playerboards';
@import 'player-table';
@import 'help';

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

.score-icon {
  background: url('img/score-icons.png');
  background-size: 200% auto;
  vertical-align: middle;
  background-repeat: no-repeat;

  &.stone {
    background-position: 0% 0%;
  }
}

#full-table {
  width: 100%;
  pointer-events: visible;
  user-select: none;
}

#tooltip3d {
  display: none;
}

#controls-reminder {
  position: relative;
  color: white;
  font-size: 12px;
  padding-left: 30px;
  padding-bottom: 8px;

  img {
    position: absolute;
    top: 0;
    left: 2px;
    width: 22px;
    height: 30px;
  }
}

html, .mode_3d {
  background: url('img/background.jpg');
  background-size: 100% auto;
  background-repeat: repeat;
}

#game_play_area {
  //will-change: transform;
}

.mode_3d #game_play_area_background {
  display: none;
}



#jump-controls {
  position: fixed;
  top: 50vh;
  z-index: 5;
  user-select: none;

  &.folded {
    .jump-link:not(.toggle) {
      display: none;
    }
  }

  .jump-link {
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-right-width: 0;
    margin: 10px 0;
    width: fit-content;
    cursor: pointer;
    height: 22px;
    padding: 2px 5px;
    background: white;
    
    &::before {
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left-width: 11px;
      border-left-style: solid;
      content: "";
      position: absolute;
      right: -11px;
      top: -2px;
    }
    
    &::after {
      width: 0;
      height: 0;
      border-top: 13px solid transparent;
      border-bottom: 13px solid transparent;
      border-left: 9px solid white;
      content: "";
      position: absolute;
      right: -9px;
      top: 0px;
    }

    .eye {
      width: 20px;
      height: 20px;
      mask: url('img/eye.svg') no-repeat center / contain;
      -webkit-mask: url('img/eye.svg') no-repeat center / contain;
      background: black;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &#jump-0 {
    border-color: black;
  }
}